<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PaintWithCALayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>647DE2741C13B21900F782E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>647DE2881C13B21900F782E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>647DE2931C13B21900F782E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
